List Comprehension

In [1]:
cubes = []
for n in range(5, 11):
 cubes.append(n ** 3)

In [2]:
cubes = [n ** 3 for n in range(5, 11)]

In [3]:
L = [3, 5, 7, 1, 8, 9, 4]
cubes = [n ** 3 for n in L]
cubes

[27, 125, 343, 1, 512, 729, 64]

In [4]:
L2 = [n * 2 for n in L]
L2

[6, 10, 14, 2, 16, 18, 8]

In [5]:
[str(n) for n in L]

['3', '5', '7', '1', '8', '9', '4']

In [6]:
cities = ['Belmont', 'New york', 'Paris', 'Buenos aires']
[city[:3] for city in cities]

['Bel', 'New', 'Par', 'Bue']

In [7]:
[city.title() for city in cities]

['Belmont', 'New York', 'Paris', 'Buenos Aires']

In [8]:
 [(city, len(city)) for city in cities]

[('Belmont', 7), ('New york', 8), ('Paris', 5), ('Buenos aires', 12)]

In [10]:
 [[city, len(city)] for city in cities]

[['Belmont', 7], ['New york', 8], ['Paris', 5], ['Buenos aires', 12]]

In [11]:
L = [[1, 2, 11, 13], [12, 34, 56, 10], [13, 77, 89], [56, 78]]
[sum(sublist) for sublist in L]

[27, 112, 179, 134]

In [12]:
[max(sublist) for sublist in L]

[13, 56, 89, 78]

In [13]:
heights = [12, 45, 78, 77, 12, 14, 54]
heights_cm = [ht * 2.54 for ht in heights]
heights_cm

[30.48, 114.3, 198.12, 195.58, 30.48, 35.56, 137.16]

In [14]:
weights = [2900, 3450, 6678, 2348, 800, 8999, 90]

In [15]:
wts = [(wt // 1000, wt % 1000) for wt in weights]
wts

[(2, 900), (3, 450), (6, 678), (2, 348), (0, 800), (8, 999), (0, 90)]

In [16]:
[t[0] * 1000 + t[1] for t in wts]

[2900, 3450, 6678, 2348, 800, 8999, 90]

In [17]:
[kg * 1000 + gm for kg, gm in wts]

[2900, 3450, 6678, 2348, 800, 8999, 90]

In [18]:
L1 = [1, 2, 3, 4, 5]
L2 = [4, 6, 7, 1, 8]
L3 = [7, 5, 3, 1, 2]
L = [x + y + z for x, y, z in zip(L1, L2, L3)]
L

[12, 13, 13, 6, 15]

If Clause in List Comprehension

In [19]:
L = [3, 5, 7, 1, 8, 9, 4]
cubes = [n ** 3 for n in L if n % 2 == 0]
cubes

[512, 64]

In [22]:
cubes = []
for n in L:
    if n % 2 == 0:
     cubes.append(n ** 3)

In [23]:
L = [32, -51, 63, 11, 86, -9, 66, 88, 97]
[n * 2 for n in L if n > 0]

[64, 126, 22, 172, 132, 176, 194]

In [24]:
evens = [n for n in L if n % 2 == 0]
odds = [n for n in L if n % 2 != 0]

In [25]:
words = ['apple', 'civic', 'board', 'noon', 'moon', 'lamp', 'madam']
palindromes = [word for word in words if word == word[::-1]]
palindromes

['civic', 'noon', 'madam']

In [27]:
L = [('Ted', 23), ('Lee', 18), ('Sam', 22), ('Bob', 30), ('Dev', 27), ('Ray', 25)]
[name for name, bmi in L if 20 < bmi < 26]

['Ted', 'Sam', 'Ray']

In [28]:
[method for method in dir(str) if not method.startswith('_')]
[method for method in dir(str) if method.startswith('is')]

['isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper']

Ternery operator in list comprehension

In [29]:
L = [1, 2, -3, 6, 18, -9, 12, -5, 19, -8, 5]
[n for n in L if n % 2 == 0]

[2, 6, 18, 12, -8]

In [30]:
 [n if n % 2 == 0 else 0 for n in L]

[0, 2, 0, 6, 18, 0, 12, 0, 0, -8, 0]

In [31]:
L = [1, 2, -3, 6, 18, -9, 12, -5, 19, -8, 5]
[n if n > 0 else 0 for n in L]

[1, 2, 0, 6, 18, 0, 12, 0, 19, 0, 5]

In [32]:
 L = [1, 2, -3, 6, 18, -9, 12, -5, 19, -8, 5]
[n // 2 if n % 2 == 0 else n * 2 for n in L if n >= 0]

[2, 1, 3, 9, 6, 38, 10]

Modifying a list while iterating

In [33]:
students = ['Era', 'Ted', 'Rob', 'Joe', 'Amy', 'Sam', 'Pat', 'Joy', 'Tia']
failed_students = ['Ted', 'Amy', 'Sam']
for student in students:
    if student in failed_students:
        students.remove(student)
print(students)

['Era', 'Rob', 'Joe', 'Sam', 'Pat', 'Joy', 'Tia']

In [34]:
students = [stu for stu in students if stu not in failed_students]

In [35]:
students[:] = [stu for stu in students if stu not in failed_students]

Getting keys from values in a dictionary using list comprehension

In [36]:
d = {'Poems for kids': 'Joe',
 'Stories for kids': 'Zen',
 'Health is wealth': 'James',
 'Rhymes for Babies': 'Joe',
 'Stories for teens': 'Ted',
 'Be healthy': 'James'
 }

In [40]:
 [book_name for book_name, author in d.items() if author == 'James']

['Health is wealth', 'Be healthy']

In [42]:
employees = {'Jack': '02-03-1973',
 'John': '09-12-1977',
 'Mark': '09-11-1972',
 'Mary': '08-05-1977',}

In [43]:
[name for name, dob in employees.items() if dob[-4:] == '1977']

['John', 'Mary']

In [44]:
students = {'12AB': {'name': 'Joe', 'age': 13,
'grade': 'A'},
 '17CD': {'name': 'Sam', 'age': 14,
'grade': 'A+'},
 '42CR': {'name': 'Ted', 'age': 13,
'grade': 'A+'},
 '13CR': {'name': 'Bob', 'age': 13,
'grade': 'B+'},
 '19FD': {'name': 'Rob', 'age': 12,
'grade': 'A+'}}

In [45]:
 [record['name'] for record in students.values() if record['grade'] == 'A+']

['Sam', 'Ted', 'Rob']

In [46]:
[(id, record['name']) for id, record in students.items() if record['grade'] == 'A+']

[('17CD', 'Sam'), ('42CR', 'Ted'), ('19FD', 'Rob')]

Using list comprehensions to avoid aliasing while creating lists of lists

In [47]:
L1 = [[]] * 3
L2 = [[0] * 3] * 4
L1

[[], [], []]

In [48]:
L2

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [49]:
L1[0].append(9)
L1

[[9], [9], [9]]

In [50]:
L2[1].pop()
L2

[[0, 0], [0, 0], [0, 0], [0, 0]]

In [51]:
L3 = [[] for i in range(3)]
L3

[[], [], []]

In [52]:
L4 = [[0] * 3 for i in range(4)]
L4

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [53]:
L3[0].append(9)
L3

[[9], [], []]

In [54]:
L4[1].pop()
L4

[[0, 0, 0], [0, 0], [0, 0, 0], [0, 0, 0]]

Multiple for clauses and nested list comprehension

In [55]:
s1 = 'Abc'
s2 = 'XYz'
L = []
for ch1 in s1:
    for ch2 in s2:
        L.append(ch1 + ch2)
print(L)

['AX', 'AY', 'Az', 'bX', 'bY', 'bz', 'cX', 'cY', 'cz']

In [56]:
[ch1 + ch2 for ch1 in s1 for ch2 in s2]

['AX', 'AY', 'Az', 'bX', 'bY', 'bz', 'cX', 'cY', 'cz']

In [57]:
 [ch1 + ch2 for ch1 in s1 if ch1.islower() for ch2 in s2 if ch2.isupper()]

['bX', 'bY', 'cX', 'cY']

In [58]:
L3 = []
for ch1 in s1:
    if ch1.islower():
        for ch2 in s2:
            if ch2.isupper():
                L3.append(ch1 + ch2)
print(L3)

['bX', 'bY', 'cX', 'cY']

In [59]:
matrix = [ [1, 4, 8, 3],
 [2, 5, 6, 3],
 [7, 9, 5, 8],
 ]

In [60]:
[element * 2 for row in matrix for element in row]

[2, 8, 16, 6, 4, 10, 12, 6, 14, 18, 10, 16]

In [61]:
[[element * 2 for element in row] for row in matrix]

[[2, 8, 16, 6], [4, 10, 12, 6], [14, 18, 10, 16]]

Extracting a column in a matrix

In [62]:
matrix = [[1, 4, 8, 3],
 [2, 5, 6, 3],
 [7, 9, 5, 8],
 ]
matrix[2]

[7, 9, 5, 8]

In [63]:
 [row[1] for row in matrix]

[4, 5, 9]

In [64]:
 [row[2] for row in matrix]

[8, 6, 5]

Dictionary Comprehension

In [65]:
L = [2, 6, -4, 8, 3, 9, -5, -3]
{n: n ** 2 for n in L}

{2: 4, 6: 36, -4: 16, 8: 64, 3: 9, 9: 81, -5: 25, -3: 9}

In [66]:
 {n: n ** 2 for n in L if n > 0}

{2: 4, 6: 36, 8: 64, 3: 9, 9: 81}

In [67]:
students = {'12AB': {'name': 'Raj', 'class': 5,
'marks': 400},
 '14XD': {'name': 'Dev', 'class': 6,
'marks': 350},
 '12YR': {'name': 'Rob', 'class': 4,
'marks ': 289},
 '13CP': {'name': 'Zen', 'class': 5,
'marks': 315},
 '23CX': {'name': 'Ted', 'class': 5,
'marks': 270},
 '15XG': {'name': 'Sam', 'class': 3,
'marks': 390},
 '19HY': {'name': 'Pam', 'class': 5,
'marks': 250},
 }

In [68]:
{id: 'Pass' if record['marks'] > 300 else
'Fail' for id, record in students.items() if
record['class'] == 5}

{'12AB': 'Pass', '13CP': 'Pass', '23CX': 'Fail', '19HY': 'Fail'}

In [69]:
text = 'Hello World !!!'

In [70]:
{ch: text.count(ch) for ch in text}

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 2, 'W': 1, 'r': 1, 'd': 1, '!': 3}

In [71]:
 {ch: text.count(ch) for ch in set(text)}

{'o': 2, 'H': 1, 'e': 1, 'l': 3, 'W': 1, 'r': 1, '!': 3, ' ': 2, 'd': 1}

Inverting the dictionary

In [72]:
d = {'India': 'New Delhi', 'France': 'Paris', 'Egypt': 'Cairo', 'Japan': 'Tokyo'}

In [73]:
 {value: key for key, value in d.items()}

{'New Delhi': 'India', 'Paris': 'France', 'Cairo': 'Egypt', 'Tokyo': 'Japan'}

In [74]:
d = {'Poems for kids': 'Joe',
'Stories for kids': 'Zen',
'Health is wealth': 'James',
'Rhymes for Babies': 'Joe',
'Stories for teens': 'Ted',
'Be healthy': 'James'}
{value: key for key, value in d.items()}

{'Joe': 'Rhymes for Babies',
 'Zen': 'Stories for kids',
 'James': 'Be healthy',
 'Ted': 'Stories for teens'}

In [75]:
[book_name for book_name, author in d.items() if author == 'James']

['Health is wealth', 'Be healthy']

In [76]:
{value: [x for x,y in d.items() if y==value] for key,value in d.items()}

{'Joe': ['Poems for kids', 'Rhymes for Babies'],
 'Zen': ['Stories for kids'],
 'James': ['Health is wealth', 'Be healthy'],
 'Ted': ['Stories for teens']}

In [77]:
{value: [x for x,y in d.items() if y==value ] for value in set(d.values()) }

{'Ted': ['Stories for teens'],
 'Joe': ['Poems for kids', 'Rhymes for Babies'],
 'James': ['Health is wealth', 'Be healthy'],
 'Zen': ['Stories for kids']}

Set comprehension

In [78]:
text = 'Hello !!! My name is Anthony Gonsalves, and you are .... ??'

In [79]:
 {ch for ch in text if not ch.isalnum()}

{' ', '!', ',', '.', '?'}

In [80]:
[ch for ch in text if not ch.isalnum()]

[' ',
 '!',
 '!',
 '!',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ',',
 ' ',
 ' ',
 ' ',
 ' ',
 '.',
 '.',
 '.',
 '.',
 ' ',
 '?',
 '?']

In [81]:
{ch for ch in text.lower() if ch.isalpha() and ch not in 'aeiou'}

{'d', 'g', 'h', 'l', 'm', 'n', 'r', 's', 't', 'v', 'y'}

In [82]:
d = {'raj@xyz.com': {'course': 'Algorithms',
'city': 'London'},
 'dev@abc.com': {'course': 'Painting', 'city':
'Delhi'},
 'sam@pqr.com': {'course': 'Design Patterns',
'city': 'London'},
 'jim@xyz.com': {'course': 'Networking',
'city': 'Delhi'},
 'pam@abc.com': {'course': 'Algorithms',
'city': 'Delhi'},
 'ray@abc.com': {'course': 'Painting', 'city':
'London'},
 'anu@xyz.com': {'course': 'Algorithms',
'city': 'London'},
 'bob@pqr.com': {'course': 'Data Structures',
'city': 'Tokyo'},
 'ted@abc.com': {'course': 'Algorithms',
'city': 'London'},
 'zen@abc.com': {'course': 'Painting', 'city':
'London'}
 }

In [83]:
{record['course'] for record in d.values() if record['city'] == 'London'}

{'Algorithms', 'Design Patterns', 'Painting'}

In [84]:
d = { 'raj@xyz.com': {'course': ['Algorithms',
'Painting'], 'city': 'London'},
 'dev@abc.com': {'course': ['Painting',
'Networking'], 'city': 'Delhi'},
 'sam@pqr.com': {'course': ['Design
Patterns', 'C', 'C++'], 'city': 'London'},
 'jim@xyz.com': {'course': ['Networking'],
'city': 'Delhi'},
 'pam@abc.com': {'course': ['Algorithms',
'Java'], 'city': 'Delhi'},
 'ray@abc.com': {'course': ['Painting',
'C++'], 'city': 'London'},
 'anu@xyz.com': {'course': ['Algorithms',
'C'], 'city': 'London'},
 'bob@pqr.com': {'course': ['Data
Structures', 'Java'], 'city': 'Tokyo'},
 'ted@abc.com': {'course': ['Algorithms',
'C++'], 'city': 'London'},
 'zen@abc.com': {'course': ['Painting'],
'city': 'London'}
 }

SyntaxError: unterminated string literal (detected at line 5) (1469845796.py, line 5)