Functions Definition

In [1]:
def greet():
 print('Hello')

In [2]:
def greet1(name):
 print('Hello', name)

In [3]:
def calculate(a, b):
 print(a + b)
 print(a - b)
 print(a * b)

In [5]:
def print_blank_lines(n):
 for i in range(n):
     print()

In [6]:
type(greet)

function

In [7]:
id(greet)

2112231289888

In [8]:
greet

In [9]:
hex(id(greet))

'0x1ebcacbb420'

Function Call

In [10]:
greet()

Hello

In [11]:
greet1('Sam')

Hello Sam

In [12]:
greet1() # gives error

TypeError: greet1() missing 1 required positional argument: 'name'

In [13]:
greet1('Bob')

Hello Bob

In [14]:
calculate(8, 5)

13
3
40

In [15]:
calculate(6.5, 4)

10.5
2.5
26.0

In [16]:
print_blank_lines(5)

In [17]:
def greet1(name):
 print_blank_lines(3)
 print('Hello', name)
 print_blank_lines(2)

In [18]:
greet1('Sam')

Hello Sam

Flow of Control

In [19]:
def add(a, b):
 print(a + b)

In [20]:
add(2, 3)

5

In [21]:
num1 = 7
num2 = 9

In [22]:
add(num1, num2)

16

In [23]:
add(num1 * 2, num2 / 3)

17.0

In [24]:
add()
add(1) 
add(1,2,3)

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [29]:
def display_list_decimal(L):
 for n in L:
     print(n, end=' ')
 print()
def display_list_binary(L):
    for n in L:
        print(f"{n:b}", end=' ')
 print()
def display_list_octal(L):
    for n in L:
        print(f"{n:o}", end=' ')
 print()
def display_list_hexadecimal(L):
    for n in L:
        print(f"{n:X}", end=' ')
 print()
numbers = [134, 2567, 366, 521, 689]
display_list_decimal(numbers)
display_list_binary(numbers)
display_list_octal(numbers)
display_list_hexadecimal(numbers)

IndentationError: unindent does not match any outer indentation level (<string>, line 8)

In [32]:
def display_list(L, base):
    if base == 2:
 ch = 'b'
elif base == 8:
ch = 'o'
 elif base == 16:
ch = 'X'
 else:
ch = 'd'
 for n in L:
     print(f"{n:{ch}}", end=' ')
 print()

numbers = [134, 2567, 366, 521, 689]
display_list(numbers, 10)
display_list(numbers, 2)
display_list(numbers, 8)
display_list(numbers, 16)

IndentationError: unindent does not match any outer indentation level (<string>, line 3)

No type checking of arguments

In [33]:
add(2.1, 7.6)
add('Sponge', 'Bob')
add([1, 2, 3], [4, 5, 6])

9.7
SpongeBob
[1, 2, 3, 4, 5, 6]

In [34]:
add([1,2,3], 7) # Error

TypeError: can only concatenate list (not "int") to list

Local Variables

In [42]:
def summation(a, b):
    s = 0
for i in range(a, b + 1):
    s += i
print(s)

NameError: name 'a' is not defined

In [43]:
def add(a, b):
 s = a + b
 print(s)

Return statements

In [44]:
def simple_interest(p, r, t):
 si = (p * r * t) / 100
 print(f'Simple interest is {si}')
principal = 2000
rate = 5
time = 4
simple_interest(principal, rate, time)

Simple interest is 400.0

In [45]:
amount = principal + interest

NameError: name 'interest' is not defined

In [46]:
amount = principal + si # Can't use name si  outside the function

NameError: name 'si' is not defined

In [51]:
def simple_interest(p, r, t):
    si = (p * r * t) / 100
    return si
principal = 2000
rate = 5
time = 4
interest = simple_interest(principal, rate, time)
amount = principal + interest
print(f'Simple interest is {interest}')
print(f'Amount is {amount}')

Simple interest is 400.0
Amount is 2400.0

In [53]:
def calculate(a, b):
 print(a + b)
 print(a - b)
 print(a * b)

In [55]:
def compare(a, b):
 if a > b:
     return 1
 elif a < b:
     return -1
 else:
     return 0

In [56]:
def square(x):
    return x * x
def add(x, y):
    return x + y
s = square(4)

In [57]:
x = square(a) * 10 + b
if 100 < square(x) < 500:
    print('Do something')
if add(a, b) > add(c, d):
    print('Do something')
p = add(square(a), square(b))
r = square(add(a, b))
print(square(a))

NameError: name 'a' is not defined

In [60]:
def square(x):
    return x * x
def func(a, b):
    x = a + b
    return square(x)
z = func(3, 4)
print(z)

49

In [64]:
def result(marks1, marks2, marks3):
    total = marks1 + marks2 + marks3
    percentage = total / 3
    print(total, percentage)
    return 'Pass' if total > 100 else 'Fail'
r = result(88, 96, 46) # return value used
print(r)
result(78, 45, 89) # return value ignored

230 76.66666666666667
Pass
212 70.66666666666667

'Pass'

In [74]:
def is_divisible(a, b):
 if a % b == 0:
     return True
 else:
     return False
def is_prime(n):
    for i in range(2, n):
        if n % i == 0:
            return False
 else:
return True

IndentationError: unindent does not match any outer indentation level (<string>, line 10)

In [75]:
def is_valid(age):
 if not age.isdigit():
     return False
 age = int(age)
 if age <= 18 or age >= 75:
     return False
     return True

In [ ]:
age = input('Enter age : ')
while not is_valid(age):
    age = input('Enter age : ')
print(f'Age is {age}')

In [ ]:
def func(a, b):
    s = a + b
    return s
p = func(5, 6)

In [ ]:
y = func(2,7) * 10

Returning multiple values

In [ ]:
def func(a, b):
 s = a + b
 d = a - b
 p = a * b
 return (s, d, p)
t = func(4, 5)
sum, difference, product = func(4, 5)
print(t, sum, difference, product)

In [ ]:
def func(a, b):
 s = a + b
 d = a - b
 p = a * b
 return s, d, p

In [ ]:
def func(a, b):
 return a + b, a - b, a * b

In [ ]:
def func(text):
 up = low = dig = 0
 for ch in text:
 if ch.isupper():
 up += 1
 elif ch.islower():
 low += 1
 elif ch.isdigit():
 dig += 1
 return up, low, dig
uppers, lowers, digits = func('Fall down 7 times,
Stand up 8')
print(f'Uppercase : {uppers}, Lowercase : {lowers},
Digits : {digits}')
t = func('Fall down 7 times, Stand up 8')
print(t)

In [ ]:
def max_min_avg(L):
 return max(L), min(L), sum(L) / len(L)
marks = [92, 76, 98, 67, 88, 92, 89]
maxmarks, minmarks, avgmarks = max_min_avg(marks)
annual_rain = [11, 2, 23, 11, 9, 2, 1, 23, 13, 3,
12, 20]
max_rain, min_rain, avg_rain =
max_min_avg(annual_rain)
print(maxmarks, minmarks, avgmarks)
print(max_rain, min_rain, avg_rain)

In [ ]:
q, r = divmod(11, 3)

Why study arguments passing

In [ ]:
def func(x, y):
a = 4
my_list = [3, 4]
func(2, [6, 7]) # literals as arguments
func(a, my_list) # variables as arguments
print(a, my_list)

Pass by arguments

In [ ]:
def func(x, y):
 print(x, y)
func(3, [1, 2, 3])

In [ ]:
x = 3
y = [1, 2, 3]

In [ ]:
def func(x, y):
 print(x, y)
num = 2
my_list = [1, 2, 3] 
func(num, my_list)

In [ ]:
x = num
y = my_list

Assignment inside functions rebounds the parameters name

In [ ]:
def func(x, y):
 print(f'x : {x}, y : {y}')
 x = 0
 y = []
 print(f'x : {x}, y : {y}')
num = 2
my_list = [1, 2, 3]
func(num, my_list)
print(f'num : {num}, my_list : {my_list}')

Immutables vs mutables as arguments

In [ ]:
def func(y):
 y.append(4)
my_list = [1, 2, 3]
func(my_list)
print(my_list))

In [ ]:
def func(x):
 x *= 2 # Rebinding
num = 10
func(num)
print(num)

In [ ]:
def double(data):
 for i in range(len(data)):
 data[i] *= 2
x = [1, 2, 3, 4]
double(x)
print(x)

In [ ]:
data = {}
def enter_data(d):
 while True:
 id = input('Enter id (0 to quit): ')
 if id == '0':
 break
 name = input('Enter name : ')
 d[id] = name
enter_data(data)
print(data)

How to get the changed value of an immutable type

In [ ]:
def triple(x):
 x *= 3
 return x
num = 4
num = triple(num)
print(num)

In [ ]:
s = 'hello'
s = s.upper()

In [ ]:
def func(x, y, z):
 x = 100 - x
 y *= 2
 z += 5
 return x, y, z
n1 = 2
n2 = 3
n3 = 4
n1, n2, n3 = func(n1, n2, n3)
print(n1, n2, n3)

How to prevent change in mutable types

In [ ]:
def sum_of_squares(L):
 s = 0
 for n in L:
 s += n * n
 return s
numbers = [1, 2, 3, 5, 6]
s = sum_of_squares(numbers)
print('Sum of squares =', s)
print(numbers)

In [ ]:
def sum_of_squares(L):
 for i in range(len(L)):
 L[i] *= L[i]
 return sum(L)
s = sum_of_squares(numbers)
print('Sum of squares =', s)
print(numbers)

In [ ]:
s = sum_of_squares(numbers[:])

Default arguments

In [ ]:
def func(a, b=5):
 print(a, b)

In [ ]:
func(10, 2)
func(10)

In [ ]:
def simple_interest(principal, time, rate=5):
 return (principal * rate * time) / 100
s1 = simple_interest(1000, 4, 7)
s2 = simple_interest(1000, 4)

In [ ]:
def simple_interest(principal, time=2, rate=5):
 return (principal * rate * time) / 100
s1 = simple_interest(1000, 4, 7)
s2 = simple_interest(1000, 4)
s3 = simple_interest(1000)

In [ ]:
return (principal * rate * time) / 100

In [ ]:
return (principal * rate * time) / 100

In [ ]:
def display_line():
 print('-' * 30)
display_line()

In [ ]:
def display_line(character='-'):
 print(character * 30)

In [ ]:
display_line('%')
display_line('*')
display_line()

In [ ]:
def display_line(character='-', length=30):
 print(character * length)
display_line('%', 20)
display_line('*', 50)
display_line('*')
display_line()

In [ ]:
numbers = [134, 2567, 366, 521, 689]
def display_list(L, base=10):
 if base == 2:
 ch = 'b'
 elif base == 8:
 ch = 'o'
 elif base == 16:
 ch = 'X'
 else:
 ch = 'd'
 for n in L:
 print(f'{n:{ch}}', end=' ')
 print()
display_list(numbers)
display_list(numbers, 8)
display_list(numbers, 16)

In [ ]:
def result(total, sports=None, arts=None):
 print('Total marks = ', total)
 if sports is not None:
 print('Sports Grade', sports)
 if arts is not None:
 print('Arts Grade', arts)
result(98, 'A')
result(78, 'B', 'C')
result(88)

Default Arguments that could change over time

In [ ]:
d = 6
def func(p = d):
 print(p)
func() # default argument used for parameter p
func(80) # 80 used as argument for parameter p
d = 100
func() # default argument used for parameter p
d += 20
func() # default argument used for parameter p

In [ ]:
from time import sleep
from datetime import datetime
def log(information='Everything Ok…',
time=datetime.now()):
 print(information, time)
log('Some problem...', '16:59:49')
log()
sleep(2)
log('Another Problem…')
sleep(3)
log()

In [ ]:
def func(a, L=[]):
 L.append(a)
 print(L)
func(10, [1, 2, 3])
func(8, [5, 6])
func(9)
func('Hello')
func(100)

In [ ]:
# old function
def func(a, L=[]):
 L.append(a)
 print(L)
# modified function
def func(a, L=None):
 if L is None:
 L = []
 L.append(a)
 print(L)

In [ ]:
#old function
def log(information='Everything Ok…',
time=datetime.now()):
 print(information, time)
#modified function
def log(information='Everything Ok…', time=None):
 if time is None:
 time = datetime.now()
 print(information, time)

In [ ]:
#old function
def func(p = d):
 print(p)
#modified function
def func(p=None):
 if p is None:
 p = d
 print(p, end = ' ')

Positional and Keywords Arguments

In [ ]:
def func(name, title, salary):
 print(f'{name} is a {title} and gets {salary}')
func('Nick', 'manager', 5000)

In [ ]:
func(title='manager', salary=5000, name='Nick') 
func(title='manager', name='Nick', salary=5000)

In [ ]:
func('Nick', salary=5000, title='manager') 
func('Nick', 'manager', salary=5000)

In [ ]:
func(name='Nick', 'manager', 5000)

In [ ]:
def func(name, title='developer', salary=3000):
 print(f'{name} is a {title} and gets {salary}')

In [ ]:
func('Mark') 
func('Mark', 'programmer')
func('Mark', 'programmer', 4000)

In [ ]:
func(name='Mark') 
func(name='Mark', title='programmer') 
func(name='Mark', title='programmer', salary=4000)

In [ ]:
volume_cylinder(10, 12)
calc_interest(20000, 5, 6):
volume_cylinder(radius=10, height=12)
calc_interest(20000, time=5, rate=6):

In [ ]:
calc_interest(20000, time=5, rate=6)
calc_interest(20000, rate=6, time=5)

In [ ]:
def func(name, title='developer', salary=3000):
 print(f'{name} is a {title} and gets {salary}')

In [ ]:
func('Nick', 6000)

In [ ]:
func('Nick', 'developer', 6000)

In [ ]:
func('Nick', salary=6000)

In [ ]:
def func(a, b, c=2, d=5, e=8, f=True, g=False):
 pass

In [ ]:
func(12, 24, 2, 500, 8, True, True)

In [ ]:
func(12, 24, d=500, g=True)

In [ ]:
def volume_cylinder(radius, height):
 return 3.14 * radius * radius * height
print(volume_cylinder(5, 20))
print(volume_cylinder(radius=5, height=20))
print(volume_cylinder(height=20, radius=5))

In [ ]:
def display_line(character='-', length=30):
 print(character * length)

In [ ]:
display_line(40)

In [ ]:
display_line('-', 40)

In [ ]:
display_line(length=40)

In [ ]:
numbers = [12, -1, 3, 6, 8, 9, 38, -3, 34, -4]
def display(L, negative=True, odd=True):
 for n in L:
 if n < 0 and negative == False:
 continue
 if n % 2 != 0 and odd == False:
 continue
 print(n, end=' ')
 print()

In [ ]:
display(numbers)
display(numbers, False)
display(numbers, False, True)
display(numbers, True, False)

In [ ]:
display(numbers, odd=False)
display(numbers, negative=False)
display(numbers, negative=False, odd=False)

Unpacking Arguments

In [ ]:
def result(m1, m2, m3, m4):
 total = m1 + m2 + m3 + m4
 per = total / 4
 print(f'Total Marks = {total}, percentage=
{per:.2f}%')
 print('Pass' if per > 40 else 'Fail')
result(56, 89, 77, 67)

In [ ]:
marks = [93, 34, 54, 67]

In [ ]:
result(marks[0], marks[1], marks[2], marks[3])

In [ ]:
result(*marks)

In [ ]:
result(marks) #Error

In [ ]:
marks = [93, 34, 54, 67, 56, 89]
result(*marks)

In [ ]:
marks = [93, 34, 54, 67, 56, 89]
result(*marks[:4])

In [ ]:
marks = [93, 34, 54, 67, 56, 89]
print(marks)

In [ ]:
print(*marks)

In [ ]:
marks2 = {'m1': 93, 'm2': 34, 'm3': 54, 'm4': 67}
def result(m1, m2, m3, m4):
 total = m1 + m2 + m3 + m4
 per = total / 4
 print(f'Total Marks = {total}, percentage=
{per:.2f}%')
 print('Pass' if per > 40 else 'Fail')
result(**marks2)

Variable numbers of positional arguments

In [ ]:
print(1, 2, 3)
print(L, d, x, y, z)
print('Hello', 'world')
print(x)

In [ ]:
def result(m1, m2, m3, m4):
 total = m1 + m2 + m3 + m4
 per = total / 4
 print(f'Total Marks = {total}, percentage={per:.2f}%')
 print('Pass' if per > 40 else 'Fail')

In [ ]:
result(45, 78, 99) # Error
result(45, 78, 99, 77, 88) # Error

In [ ]:
def result(*args):
total = sum(args)

In [ ]:
per = total / len(args)

In [ ]:
def result(*args):
 print(args)
 total = sum(args)
 per = total / len(args)
 print(f'Total Marks = {total}, percentage={per:.2f}%')
 print('Pass' if per > 40 else 'Fail')
result(23, 89, 77, 67, 89, 90)
result(67, 83, 68)
result(89)

In [ ]:
def result(name, standard, *args):
 print(name, standard)
 print(args)
 total = sum(args)
 per = total / len(args)
 print(f'Total Marks = {total}, percentage=
{per:.2f}%')
 print('Pass' if per > 40 else 'Fail')
result('Anu', 'VI', 34, 66, 88, 99, 344)
result('Dev', 'V', 99, 344)

In [ ]:
marks1 = [23, 45, 67]
marks2 = [23, 45, 67, 89, 88, 99]
marks3 = [56, 77, 88, 22, 77]

In [ ]:
result('Anu', 'VI', *marks1)

In [ ]:
result('Anu', 'VI', 23, 45, 67)

In [ ]:
result('Anu', 'VI', *marks2) # Sending a list of 6 elements
result('Anu', 'VI', *marks3) # Sending a list of 5 elements

In [ ]:
def average(*args):
 return sum(args) / len(args)

In [ ]:
a1 = average(9, 2, 1)
a2 = average(3, 5, 6, 7, 8)

In [ ]:
L = [1, 5, 7, 8, 0, 4, 2, 8, 5]
a3 = average(*L)

In [ ]:
d = {'John': 23, 'Ted': 25, 'Sam': 27, 'Nick': 21}
a4 = average(*d.values())

Variables numbers of keyword arguments

In [ ]:
def func(**kwargs):
 for x, y in kwargs.items():
 print(x, y)

In [ ]:
func(1, 3, 2) # TypeError: func() takes 0 positional arguments but 3 were given

In [ ]:
func(a=1, b=2, c=3)

In [ ]:
func(a=1, b=2, c=3, d=4, e=5, f=6)

In [ ]:
mydict = {'a': 1, 'b': 2, 'c': 3}

In [ ]:
func(**mydict)

In [ ]:
func(a=1, b=2, c=3)

In [ ]:
def result(name, standard, *args):
total = sum(args)
per = total / len(args)
print(name,standard,args)
print(f'Total Marks = {total}, percentage=
{per:.2f}%')
print('Pass' if per > 40 else 'Fail')

In [ ]:
def result(name, standard, **kwargs):
total = sum(kwargs.values())
per = total / len(kwargs)
print(name, standard, kwargs)
print(f'Total Marks = {total}, percentage=
{per:.2f}%')
print('Pass' if per > 40 else 'Fail')

In [ ]:
result('Amit', 'VI', physics=89, maths=45)
result('Anuj', 'V', physics=89, maths=45,
chemistry=90, history=87)

In [ ]:
marks = {'Physics': 78, 'Maths': 34, 'Chemistry':89}

In [ ]:
result('Amit', 'VI', **marks)

In [ ]:
marks1 = {'Physics': 78, 'Maths': 34, 'Chemistry': 89, 'History': 89, 'Geography': 99}
result('Amit', 'VI', **marks1)

Keyword-only Arguments

In [ ]:
def func(a, b, *args, c, d):
 print(a, b, args, c, d)

In [ ]:
func(2, 3, 6, 7, 8, 9, c=100, d=200)

In [ ]:
func(2, 3, 6, 7, 8, 9, 100, 200)

In [ ]:
def func(a, b, *, c, d):
 print(a, b, c, d)

In [ ]:
def func(*, a, b, c, d):
 print(a, b, c, d)

In [ ]:
def display(L, negative=True, odd=True):
 for n in L:
 if n < 0 and negative is False:
 continue
 if n % 2 != 0 and odd is False:
 continue
 print(n, end=' ')
 print()
numbers = [12, -1, 3, 6, 8, 9, 38, -3, 34, -4]
display(numbers, True, False)
display(numbers, False)
display(numbers, odd=False)
display(numbers, negative=False)
display(numbers, negative=False, odd=False)

In [ ]:
def display(numbers, *, negative=True, odd=True):
    display(numbers, True, False)

In [ ]:
display(numbers, negative=False)
display(numbers, negative=False, odd=False)

In [ ]:
print(1, 2, 3, 4, sep='-', end=';')

In [ ]:
Max(1, -2, 3, 6, -9, key=abs)

Positional-only arguments

In [ ]:
def func(a, b, /, x, y):
 print(a, b, x, y)

In [ ]:
func(1, 2, 3, 5) # correct
func(1, 2, 3, y=5) # correct
func(1, b=2, x=3, y=4)

In [ ]:
func(a=1, b=2, x=3, y=4)

In [ ]:
help(len)

In [ ]:
len(obj = [1,2,3,4])

In [ ]:
def func(a,b, /, c,d, *, e,f);
 pass

In [ ]:
help(sorted)

Multiple Unpackings in a python functional call

In [ ]:
def average(*args):
 print(args)
 return sum(args) / len(args)
x = {98, 23, 85, 56, 12}
y = (48, 98)
z = [67, 89, 43, 78]
print(average(*x, *y, *z))

In [ ]:
def result(name, standard, **kwargs):
 total = sum(kwargs.values())
 per = total / len(kwargs)
 print(name,standard,kwargs)
 print(f'Total Marks = {total}, percentage=
{per}%')
 print('Pass' if per > 40 else 'Fail')
marks1 = {'Physics':78, 'Maths':34, 'Chemistry':89}
marks2 = {'History':89, 'Geography':99}
result('Amit', 'VI', **marks1, **marks2)

Function objects

In [ ]:
def func(a, b):
    print(a + b)

In [ ]:
type(func)

In [ ]:
id(func)

In [ ]:
func = 2
func

In [ ]:
func()

In [ ]:
def func(a, b):
    print(a + b)
func

In [ ]:
add = func

In [ ]:
add

In [ ]:
add(4, 5)

In [ ]:
func(4, 5)

In [ ]:
def subtract(a, b):
    print(a - b)
    
def add(a, b):
    print(a + b)

def multiply(a, b):
    print(a * b)

def divide(a, b):
    print(a // b)

In [ ]:
functions = [add, subtract, multiply, divide]
for function in functions:
    function(3, 4)

In [ ]:
def calculate(fn, a1, a2):
    fn(a1, a2)

In [ ]:
calculate(add, 5, 2)

In [ ]:
calculate(subtract, 5, 2)

In [ ]:
def calculate(a1, a2, fn=add):
    return fn(a1, a2)

In [ ]:
def calculate(a1, a2, fn=add):
   return fn(a1, a2)

calculate(1, 2)

calculate(1, 2, multiply)

In [ ]:
min(-5, 2, -34, key=abs)

In [ ]:
def absolute(n):
    return -n if n < 0 else n

In [ ]:
min(5, 2, -34, key=absolute)

In [ ]:
def func(x):
    if x < 0 :
        def fn():
 print('Hello')

 elif x > 0:
def fn():
    print('Hi')

 else:
def fn():
    print('Hey')
return fn

In [ ]:
f = func(6)
f()

In [ ]:
def func(x):
    if x < 0 :
        def fn():
        print('Hello')
elif x > 0:
def fn():
print('Hi')

else:
def fn():
  print('Hey')
return fn()

f = func(6)
print(f)

Attributes of a Function

In [ ]:
def func(a, b, c=1, d=2):
    print(a, b, c, d)
dir(func)

In [ ]:
func.__name__
fn = func
fn.__name__

In [ ]:
func.__module__

In [ ]:
from math import floor
floor.__module__

In [ ]:
func.__defaults__

In [ ]:
func.author = 'Ted'
func.creation_date = '9 Nov 2022'

In [ ]:
func.creation_date

In [ ]:
getattr(func, '__name__' )

In [ ]:
getattr(func, '__module__' )

In [ ]:
def show_attributes(fn):
 attributes = ['__annotations__',
'__defaults__', '__module__', '__name__', 
'__repr__', '__sizeof__', '__str__']
 for attribute in attributes:
 print(attribute, '->', getattr(fn,
attribute))
 print()

In [ ]:
show_attributes(func)
show_attributes(divide)

In [ ]:
def add(a, b):
 ''' Add the two numbers.
 Input: two numbers
 Return : sum 
 '''
 s = a + b
 return s

In [ ]:
help(add)

In [ ]:
print(add.__doc__)

Function Annotation

In [ ]:
def func(s, i, j):
 return s[i:j]

In [ ]:
def func(s:str, i:int, j:int) -> str:
 return s[i:j]

In [ ]:
def func(s:str, i:'int 0 to 5', j:int) -> str:
 return s[i:j]

In [ ]:
def func(s:str, i:'int 0 to 5'=0, j:int=3) -> str:
 return s[i:j]

In [ ]:
func([1,2,3,4,5,6,7,8,9,10], 6, 8)

In [ ]:
func.__annotations__

In [ ]:
help(func)

Recursive Function

In [ ]:
def fact(n):
 if n == 0:
 return 1
 else:
 return n * fact(n-1)
print(fact(3), fact(7))

In [ ]:
def sum_digits(n):
 if n//10 == 0: # n is a single digit number
 return n
 else:
 return n % 10 + sum_digits(n//10)
print(sum_digits(5432))

In [ ]:
def fib(n):
 if n == 0:
 return 1
 elif n == 1:
 return 1
 else:
 return fib(n - 1) + fib(n - 2)
for i in range(10):
 print(fib(i), end=' ')

In [ ]:
fact(99999)

In [ ]:
import sys
sys.getrecursionlimit()

In [ ]:
sys.setrecursionlimit(1500)
sys.getrecursionlimit()