In [1]:
(lambda x, y: x + y)(2, 3)

5

In [2]:
add = lambda x, y: x + y

In [3]:
add(2, 3)

5

In [ ]:
func(5, 6, lambda x,y: x+y)

In [ ]:
def add(x, y):
return x + y
type(add)

In [ ]:
add

In [ ]:
lambda x, y: x + y

In [ ]:
lambda n: n*n

In [ ]:
type(lambda x, y: x + y)

In [ ]:
a = lambda x, y: x + y
type(a)

In [ ]:
a

In [ ]:
a.__name__

In [ ]:
a(3, 4)

In [ ]:
lambda s: print('Hello', s)

In [ ]:
(lambda s: print('Hello', s)) ('Sir')

In [ ]:
(lambda x: 0 if x > 10 else 1)(15)

In [ ]:
def max_min_avg(L):
 return max(L), min(L), sum(L)/len(L)
marks = [92, 76, 98, 67, 88, 92, 89]
maxmarks, minmarks, avgmarks = max_min_avg(marks)

In [ ]:
lambda L: max(L), min(L), sum(L)/len(L)

In [ ]:
lambda L: (max(L), min(L), sum(L)/len(L))

In [ ]:
lambda L: [max(L), min(L), sum(L)/len(L)]

In [ ]:
x = 4
lambda a: x ** a

In [ ]:
lambda a: x=5

In [ ]:
f = lambda x, y: [x*i for i in range(y)]
f(4, 5)

In [ ]:
def subtract(a, b):
 print(a - b)
def add(a, b):
 print(a + b)
def multiply(a, b):
 print(a * b)
def divide(a, b):
 print(a // b)
def calculate(a1, a2, fn):
 fn(a1, a2)
calculate(2, 4, add)

In [ ]:
calculate(5,3, lambda x, y: print(x + y))

In [ ]:
calculate(5, 3, lambda x, y: print(2*x - y))

In [ ]:
def func(x, y):
 print(2*x - y)
calculate(5, 3, func)

In [ ]:
def func(x):
 if x < 0:
 def fn():
 print('Hello')
 elif x > 0:
 def fn():
 print('Hi')
 else:
 def fn():
 print('Hey')
 return fn
f1 = func(6)
f1()
f2 = func(0)
f2()

In [ ]:
def func(x):
 if x < 0:
 return lambda: print('Hello')
 elif x > 0:
 return lambda: print('Hi')
 else:
 return lambda: print('Hey')

In [ ]:
def func(x, username):
 if x < 0:
 return lambda: print('Hello', username)
 elif x > 0:
 return lambda: print('Hi', username)
 else:
 return lambda: print('Hey', username)
f1 = func(6, 'Sam')
f1()
f2 = func(0, 'Tim')
f2()

In [ ]:
def func(symbol):
 return lambda message: print(message + symbol)
exclaim = func('!!!!!')
question = func('???')
sentence = func('.')
exclaim('OMG')
question('What is this')
sentence('Python is easy')
exclaim('Really')

In [ ]:
L = [lambda s: s.strip().lower(),
...  lambda s: s.strip().upper(),
...  lambda s: s.lstrip().title(),
...  lambda s: s[::-1].lower(),
...  ]

In [ ]:
L[1]('Python')

In [ ]:
L[3]('Python')

In [ ]:
d = {'add': lambda x, y: x + y,
...  'subtract': lambda x, y: x - y,
...  'multiply': lambda x, y: x * y,
...  'divide': lambda x, y: x // y,
...  'power': lambda x, y: x ** y,
...  'double': lambda x: x * 2,
...  'square': lambda x: x ** 2,
...  'table': lambda x: [x * i for i in
range(1, 11)],
,'summation': lambda x: sum(range(1, x + 1)),}

In [ ]:
d['summation'](4)

In [ ]:
d['power'](3,2)

In [ ]:
help(sorted)

In [ ]:
L = ['elephant', 'bear', 'duck', 'fox', 'giraffe']
sorted(L)

In [ ]:
L = ['elephant', 'bear', 'Duck', 'Fox', 'Giraffe']
sorted(L)

In [ ]:
ord('D')

In [ ]:
ord('b')

In [ ]:
L = ['elephant', 'bear', 'Duck', 'Fox', 'Giraffe']

In [ ]:
sorted(L, key=len)

In [ ]:
L = ['elephant', 'bear', 'Duck', 'Fox', 'Giraffe']
sorted(L)

In [ ]:
sorted(L, key=str.lower)

In [ ]:
sorted(L, key=str.upper)

In [ ]:
def rev(s):
 return s.lower()[::-1]
sorted(L, key=rev)

In [ ]:
sorted(L, key=lambda s: s.lower()[::-1])

In [ ]:
employees = [ ('Rajendra', 'Kumar', 32, 6000),
... ('Sam', 'Saxena', 43, 8000),
... ('Shyamchandra', 'Verma', 23, 3000),
... ('Sam', 'Gupta', 33, 7000),
... ('Sam', 'Sung', 31, 5000)
... ]

In [ ]:
sorted(employees)

In [ ]:
sorted(employees, key=lambda x: x[2])

In [ ]:
sorted(employees, key=lambda x: len(x[0]) + len(x[1]))

In [ ]:
sorted(employees)

In [ ]:
sorted(employees, key=lambda t: (t[0], t[2]))

In [ ]:
sorted(employees, key=lambda t: (t[0].upper(), t[2]))

In [ ]:
employees.sort(key=lambda x: x[1])
employees

In [ ]:
employees = [ ('Rajendra', 'Kumar', 32, 6000),
... ('Sam', 'Saxena', 43, 8000),
... ('Shyamchandra', 'Verma', 23, 3000),
... ('Sam', 'Gupta', 33, 7000),
... ('Sam', 'Sung', 31, 5000)
... ]

In [ ]:
max(employees, key=lambda x: x[3])

In [ ]:
min(employees, key=lambda x: x[2])

In [ ]:
d = {'pen': 23, 'eraser': 5, 'book': 30}
sorted(d)

In [ ]:
sorted(d.keys())

In [ ]:
sorted(d.values())

In [ ]:
sorted(d.items())

In [ ]:
sorted(d.items(), key=lambda t: t[1])

In [ ]:
class Student:
 def __init__(self, name, marks, birthYear):
 self.name = name 
 self.marks = marks
 self.birthYear = birthYear
 def __str__(self):
 return f'{self.name} {self.marks}
{self.birthYear}'
s1 = Student('John', 97, 1988)
s2 = Student('Sam', 89, 1987)
s3 = Student('Pam', 99, 1982)
L = [s1, s2, s3]

In [ ]:
L.sort(key=lambda s: s.marks)

In [ ]:
for i in L:
 print(i)

In [ ]:
class Employee:
 def __init__(self, name, phone, basic, ta,
da):
 self.name = name
 self.phone = phone
 self.basic = basic
 self.ta = ta
 self.da = da
 def __lt__(self, other):
 return self.name < other.name
 def __str__(self):
return f'{self.name} {self.phone}
{self.basic} {self.ta} {self.da}'
 def __repr__(self):
 return f'{self.name} {self.phone}
{self.basic} {self.ta} {self.da}'
e1 = Employee('Zeba', 89889444, 3000, 500, 200)
e2 = Employee('Amit', 99883994, 4000, 300, 500)
e3 = Employee('Neema',83988399, 3000, 1000, 500)
e4 = Employee('Rini', 99878784, 3500, 0, 500)
L = [e1, e2, e3, e4]
print(L)
L.sort()
print(L)

In [ ]:
L.sort(key=lambda e: e.basic + e.ta + e.da)

In [ ]:
map(func, iterable)
filter(func, iterable)
reduce(func, iterable)

In [ ]:
map(func, iterable)

In [ ]:
numbers = [4, 6, 7, 9]
def square(n):
...  return n * n

In [ ]:
map(square, numbers)

In [ ]:
list(map(square, numbers))

In [ ]:
list(map(lambda n: n*n, numbers))

In [ ]:
list(map(str, numbers))

In [ ]:
L = [4, 6, 8, 9, 3]

In [ ]:
map(lambda x: x*10, L)

In [ ]:
list(map(lambda x: x*10, L))

In [ ]:
list(map(lambda x: x**3, range(5,11)))

In [ ]:
students = { 105416: { 'name':'John',
 'gender': 'M', 
 'city': 'Paris',
 'age': 21,
 'marks': { 'Maths': 89,
 'Physics':
78,
 
'Chemistry':91 },
 'is_sporty': True },
 
 144547: { 'name':'Dev',
 'gender': 'M', 
 'city': 'London',
 'age': 23,
 'marks': { 'Maths': 88,
 'Physics':
           77,
 
'Chemistry':98 },
 'is_sporty': False }, 
 132399: { 'name':'Mary',
 'gender': 'F', 
 'city': 'Paris',
 'age': 22,
 'marks': { 'Maths': 99, 'Physics': 87,
 'Chemistry':88 },
 'is_sporty': True }

In [ ]:
list(map(lambda d: (d['name'], d['age']), students.values()))

In [ ]:
def multiply(x, y, z):
...  return x * y * z
map(multiply, [1,2,3,4], (4,5,6,7), [10,20,30,40])

In [ ]:
list(map(multiply, [1,2,3,4], (4,5,6,7), [10,20,30,40]))

In [ ]:
list1 = [1, 9, 3, 4]
list2 = [4, 3, 6, 1, 7, 8]
list3 = [8, 9, 3, 5, 6]
list(map(lambda x, y, z: x + y + z, list1, list2, list3))

In [ ]:
names = ['Sophia', 'Michael', 'Benedict', 'Anthony']
cities = ['Paris', 'London', 'Bareilly', 'Tokyo']
phones = [676858939, 223878965, 856937891, 676757913]

In [ ]:
ids = list(map(lambda x,y,z: x[-2:] + y[:2] + str(z)[:3], names, cities, phones))

In [ ]:
ids

In [ ]:
numbers = [24, 34, 0, 4, 12, 45, 67, 15]

In [ ]:
def func(x):
...  return x % 3 == 0

In [ ]:
filter(func, numbers)

In [ ]:
list(filter(func, numbers))

In [ ]:
list(filter(lambda x: x % 3 == 0, numbers))

In [ ]:
list(filter(None, numbers))

In [ ]:
numbers = [12, 109, 67, 34, 390, 65, 990, 87, 52]
list(filter(lambda x: x < 100, numbers))

In [ ]:
L = [('A', 101), ('X', 89), ('C', 209), ('F',39)]

In [ ]:
list(filter (lambda t: t[1] < 100, L))

In [ ]:
L = ['names.doc', 'file2.xls', '', 'info.doc', 'help.doc', '', 'show.ppt']
list(filter(lambda s: s.endswith('.doc'), L))

In [ ]:
list(filter(None, L))

In [ ]:
L = ['ab12', '23', '22%cd', 'cv', 'xy@z']
list(filter(str.isalnum, L))

In [ ]:
class Student:
 def __init__(self, name, marks, birthYear):
 self.name = name 
 self.marks = marks
 self.birthYear = birthYear
 def __str__(self):
 return f'{self.name} {self.marks}
{self.birthYear}'
 def __repr__(self):
 return f'{self.name} {self.marks}
{self.birthYear}' 
s1 = Student('John', 97, 1988)
s2 = Student('Sam', 89, 1987)
s3 = Student('Pam', 99, 1985)
s4 = Student('Tim', 91, 1983)
s5 = Student('Jim', 80, 1987)
L = [s1, s2, s3, s4, s5]

In [ ]:
new_list = list(filter(lambda x: x.marks > 90, L))
print(new_list)

In [ ]:
L = [-3, 7, -9, 6, 3, 5, -8]

In [ ]:
map(lambda x: x*x*x, filter(lambda x: x>0, L))

In [ ]:
list(map(lambda x: x*x*x, filter(lambda x:x>0, L)))

In [ ]:
L1 = ['??', 'abc', 'Efg', '123', 'A1', 'pqr']
list(map(str.upper, filter(lambda s:s.isalpha(), L1)))

In [ ]:
[x * x * x for x in L if x > 0]

In [ ]:
 [s.upper() for s in L1 if s.isalpha()]

In [ ]:
reduce(func, iterable)

In [ ]:
L = [4, 6, 3, 1, 2]
def add(x, y):
...  return x + y 
from functools import reduce
reduce(add, L)

In [ ]:
add(add(add(add(4,6), 3), 1), 2)

In [ ]:
reduce(func, iterable, initialvalue)

In [ ]:
reduce(add, L, 1000)

In [ ]:
words = ['apple', 'boy', 'cat']

In [ ]:
reduce(add, words)

In [ ]:
L = [4, 6, 3, 1, 2]
reduce(lambda x, y: x if x > y else y, L)

In [ ]:
L.clear()

In [ ]:
reduce(add, L)

In [ ]:
reduce(add, L, 0)

In [ ]:
all([1, 2, 3, 0, 5, 8])

In [ ]:
all([1, 2, 3, 5, 8])

In [ ]:
names = ['Raj', 'Dev', '', 'Sam']
all(names)

In [ ]:
if all(names):
 pass

In [ ]:
marks = [65, 67, 89, 48, 90, 56]

In [ ]:
(m > 50 for m in marks)

In [ ]:
all(m > 50 for m in marks)

In [ ]:
marks.remove(48)
all(m > 50 for m in marks)

In [ ]:
any(m > 100 for m in marks)

In [ ]:
marks.insert(2, 150)
any(m > 100 for m in marks)

In [ ]:
students = [ {'name':'John',
...  'city': 'Paris',
...  'marks': 21,
...  },
...  {'name':'Dev',
 'city': 'London',
...  'marks': 23,
...  }, 
...  {'name':'Mary',
...  'city': 'Paris',
...  'marks': 22,
...  } 
...  ]

In [ ]:
max(student['marks'] for student in students)

In [ ]:
max(students, key=lambda d: d['marks'])

In [ ]:
topper = max(students, key=lambda d:d['marks'])
topper['name']

In [ ]:
max(students, key=lambda d: d['marks'])

In [ ]:
any(student['city'] == 'Paris' for student in students)

In [ ]:
import operator
help(operator)

In [ ]:
list(map(lambda x, y: x * y, [1,2,3,4], [5,6,7,8]))

In [ ]:
list(map(operator.mul, [1,2,3,4], [5,6,7,8]))

In [ ]:
from operator import itemgetter

employees = [ ('Rajendra', 'Kumar', 32, 6000),
...  ('Sam', 'Saxena', 43,
8000),
... ('Shyamchandra', 'Verma', 23,
3000),
... ('Sam', 'Gupta', 33, 7000),
... ('Sam', 'Sung', 31, 5000)
... ]

In [ ]:
sorted(employees, key=lambda t: t[2])

In [ ]:
sorted(employees, key=itemgetter(2))

In [ ]:
sorted(employees, key=itemgetter (1,2))

In [ ]:
from operator import attrgetter
class Student:
 def __init__(self, name, marks, birthYear):
 self.name = name 
 self.marks = marks
 self.birthYear = birthYear
 def __str__(self):
 return f'{self.name} {self.marks}
{self.birthYear}'
s1 = Student('John', 97, 1988)
s2 = Student('Sam', 89, 1987)
s3 = Student('Pam', 99, 1982)
s4 = Student('Pam', 99, 1978)
L = [s1, s2, s3, s4]
L.sort(key=attrgetter('marks'))
for i in L:
 print(i)
print()
L.sort(key=attrgetter('marks', 'birthYear'))
for i in L:
print(i)

Happy Programming