Iterating in sorting and reversed order

In [1]:
numbers = [2, 1, 4, 6, 3]
for number in numbers:
 print(number, end=' ')

2 1 4 6 3

In [2]:
for number in sorted(numbers):
 print(number, end=' ')

1 2 3 4 6

In [3]:
for number in reversed(numbers):
 print(number, end=' ')

3 6 4 1 2

In [4]:
primes = {31, 3, 5, 11, 2, 13, 17, 43, 19, 7, 37,
23, 29, 41}
for number in primes:
 print(number, end=' ')

2 3 37 5 7 41 11 43 13 17 19 23 29 31

In [5]:
for number in sorted(primes):
 print(number, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43

In [6]:
for number in reversed(sorted(primes)):
 print(number, end=' ')

43 41 37 31 29 23 19 17 13 11 7 5 3 2

In [7]:
for number in sorted(primes, reverse=True):
 print(number, end=' ')

43 41 37 31 29 23 19 17 13 11 7 5 3 2

In [8]:
prices = {'apple': 210, 'banana': 100, 'grapes':
90, 'mango': 250, 'cherry': 225, 'guava': 80}
for fruit in sorted(prices.keys()):
 print(fruit, prices[fruit], end=' | ')
print()
for fruit, price in sorted(prices.items()):
 print(fruit, price, end=' | ')

apple 210 | banana 100 | cherry 225 | grapes 90 | guava 80 | mango 250 |
apple 210 | banana 100 | cherry 225 | grapes 90 | guava 80 | mango 250 |

In [9]:
for fruit, price in sorted(zip(prices.values(),
prices.keys())):
 print(fruit, price, end=' | ')

80 guava | 90 grapes | 100 banana | 210 apple | 225 cherry | 250 mango |

In [10]:
L = [2, 3, 1, 4, 5, 7, 4, 2, 1, 3]
for i in L:
 print(f'square of {i} is {i * i}')

square of 2 is 4
square of 3 is 9
square of 1 is 1
square of 4 is 16
square of 5 is 25
square of 7 is 49
square of 4 is 16
square of 2 is 4
square of 1 is 1
square of 3 is 9

In [11]:
L = [2, 3, 1, 4, 5, 7, 4, 2, 1, 3]
for i in set(L):
 print(f'square of {i} is {i * i}')

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 7 is 49

In [25]:
phrase = 'colourful umbrella'
for ch in phrase:
    if ch in {'a', 'e', 'i', 'o', 'u'}:
        print(ch, end=' ')

o o u u u e a

In [26]:
phrase = 'colourful umbrella'
for ch in set(phrase):
 if ch in {'a', 'e', 'i', 'o', 'u'}:
     print(ch, end=' ')

o e a u

Index based fot loops

In [28]:
data = [2, 3, 1, 4, 7, 9]
for i in range(6):
 print(data[i], end=' ')

2 3 1 4 7 9

In [29]:
for i in range(len(data)):
 print(data[i], end=' ')

2 3 1 4 7 9

In [30]:
for item in data:
 print(item, end=' ')

2 3 1 4 7 9

Making inplace changes in a list

In [31]:
data = [2, 3, 1, 4, 7, 5]
for i in range(len(data)):
 data[i] += 5
print(data)

[7, 8, 6, 9, 12, 10]

In [32]:
L = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for item in L:
 item.pop(0)
print(L)

[[2, 3], [5, 6], [8, 9]]

In [33]:
L = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for item in L:
 item = item * 3
print(L)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [34]:
L = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for item in L:
 item *= 3
print(L)

[[1, 2, 3, 1, 2, 3, 1, 2, 3], [4, 5, 6, 4, 5, 6, 4, 5, 6], [7, 8, 9, 7, 8, 9, 7, 8, 9]]

Skipping some items while iterating

In [35]:
data = [2, 1, 3, 4, 5, 6, 9, 1, 7, 8, 9]
for i in range(4):
 print(data[i], end=' ')

2 1 3 4

In [36]:
for i in range(0, len(data), 3):
 print(data[i], end=' ')

2 4 9 8

In [37]:
for item in data[:4]:
 print(item, end=' ')

2 1 3 4

In [38]:
for item in data[::3]:
 print(item, end=' ')

2 4 9 8

Using len and range combination to shuffle a sequence

In [39]:
data = [4, 5, 6, 7]
for i in range(len(data)):
 print(data[i:] + data[:i])

[4, 5, 6, 7]
[5, 6, 7, 4]
[6, 7, 4, 5]
[7, 4, 5, 6]

Enumerate functions

In [40]:
trip = ['Milan', 'Venice', 'Munich', 'Vienna', 'Budapest', 'Prague']
enumerate(trip)

In [41]:
list(enumerate(trip))

[(0, 'Milan'),
 (1, 'Venice'),
 (2, 'Munich'),
 (3, 'Vienna'),
 (4, 'Budapest'),
 (5, 'Prague')]

In [42]:
list(enumerate(trip,1))

[(1, 'Milan'),
 (2, 'Venice'),
 (3, 'Munich'),
 (4, 'Vienna'),
 (5, 'Budapest'),
 (6, 'Prague')]

In [43]:
list(enumerate(trip,100))

[(100, 'Milan'),
 (101, 'Venice'),
 (102, 'Munich'),
 (103, 'Vienna'),
 (104, 'Budapest'),
 (105, 'Prague')]

In [44]:
for i, city in enumerate(trip, 1):
    print(f'Destination {i} -> {city}')

Destination 1 -> Milan
Destination 2 -> Venice
Destination 3 -> Munich
Destination 4 -> Vienna
Destination 5 -> Budapest
Destination 6 -> Prague

In [46]:
numbers = [23, 78, 98, 78, 65, -36, 78, 99]
for number in numbers:
 if number < 0:
     print(f'Found negative number {number}')
 break
else:
    print('No negative number in the list')

In [47]:
numbers = [23, 78, 98, 78, 65, -36, 78, 99]
for i, number in enumerate(numbers):
 if number < 0:
     print(f'Found negative number {number} at index {i}')
 break
else:
    print('No negative number in the list')

In [48]:
students = ['Pam', 'Sam', 'John', 'Ryan', 'Neil', 'Dev']
data = {}
for i, student in enumerate(students, 1000):
 data[i] = student
print(data)

{1000: 'Pam', 1001: 'Sam', 1002: 'John', 1003: 'Ryan', 1004: 'Neil', 1005: 'Dev'}

Iterating over multiple sequences using zip

In [49]:
names = ['Amit', 'John', 'Mark', 'Raj']
salaries = [2000, 3000, 2500, 3200]
cities = ['Delhi', 'Chennai', 'Delhi', 'Bangalore']
zip(names, cities, salaries)

In [50]:
list(zip(names, cities, salaries))

[('Amit', 'Delhi', 2000),
 ('John', 'Chennai', 3000),
 ('Mark', 'Delhi', 2500),
 ('Raj', 'Bangalore', 3200)]

In [51]:
for name, city, salary in zip(names, cities,
salaries):
    print(f'{name} posted in {city} with {salary}')

Amit posted in Delhi with 2000
John posted in Chennai with 3000
Mark posted in Delhi with 2500
Raj posted in Bangalore with 3200

In [52]:
for name, city, salary in zip(names, cities,
salaries):
    if city == 'Delhi':
        salary += 1000
salaries

[2000, 3000, 2500, 3200]

In [53]:
for i in range(len(names)):
    if cities[i] == 'Delhi':
        salaries[i] += 1000 
salaries

[3000, 3000, 3500, 3200]

Modifying a collection while iterating in a for loop

In [55]:
students = ['Era', 'Ted', 'Rob', 'Joe', 'Amy',
'Sam', 'Pat', 'Joy', 'Tia']
failed_students = ['Ted', 'Amy', 'Sam']
for student in students:
    if student in failed_students:
        students.remove(student)
print(students)

['Era', 'Rob', 'Joe', 'Sam', 'Pat', 'Joy', 'Tia']

In [56]:
numbers = [2, 3, -7, 8, -5, -2, 9, 10]
for number in numbers:
    if number < 0:
     numbers.remove(number)
print(numbers)

[2, 3, 8, -2, 9, 10]

In [61]:
numbers = [2, 3, -7, 8, -5, -2, 9, 10]
for number in numbers:
    print(number, end=' ')
if number < 0:
     numbers.remove(number)
print(numbers)

2 3 -7 8 -5 -2 9 10 [2, 3, -7, 8, -5, -2, 9, 10]

In [ ]:
cities = ['Rome', 'Berlin', 'Delhi', 'Bareilly']
for city in cities:
    if city.startswith('B'):
        cities.append(city)
print(cities)

In [ ]:
cities = ['Rome', 'Berlin', 'Delhi', 'Bareilly']
for city in cities[:]:
    if city.startswith('B'):
        cities.append(city)
print(cities)

In [ ]:
numbers = [2, 3, -7, 8, -5, -2, 9, 10]
for number in numbers[:]:
    if number < 0:
     numbers.remove(number)
print(numbers)

In [ ]:
students = ['Era', 'Ted', 'Rob', 'Joe', 'Amy', 'Sam', 'Pat', 'Joy', 'Tia']
failed_students = ['Ted', 'Amy', 'Sam']
for student in students[:]:
    if student in failed_students:
        students.remove(student)
print(students)

In [ ]:
employees = {'Sam': 3000, 'John': 4000, 'Rob': 15000, 'Tina': 9000}
for employee, salary in employees.items():
    if salary > 10000:
        employees.pop(employee)
print(employees)

In [ ]:
for word in pronouns:
 if len(word) > 4:
     pronouns.remove(word)
print(pronouns)

In [ ]:
employees = {'Sam': 3000, 'John': 4000, 'Rob': 15000, 'Tina': 9000}
for employee, salary in employees.copy().items():
    if salary > 10000:
     employees.pop(employee)
print(employees)

In [ ]:
for word in pronouns.copy():
    if len(word) > 4:
     pronouns.remove(word)
print(pronouns)

Infinite loop with break

In [ ]:
names = []
name = ''
while name != 'exit':
    name = input('Enter name : ')
 names.append(name)
print(names)

In [ ]:
names = []
name = ''
while name != 'exit':
 name = input('Enter name : ')
 if name != 'exit':
 names.append(name)
print(names)

In [ ]:
names = []
while True:
 name = input('Enter name : ')
 if name == 'exit':
 break
 names.append(name)
print(names)

In [ ]:
total = 0
number = 0
while number != -1:
 number = int(input('Enter a number(-1 to quit): '))
 total += number
print(total)

In [ ]:
total = 0
while True:
 number = int(input('Enter a number(-1 to quit)
: '))
 if number == -1:
 break
 total += number
print(total)

In [ ]:
print('1. Add the two numbers')
print('2. Subtract first from second')
print('3. Subtract second from first')
print('4. Multiply the two numbers')
choice = int(input('Enter your choice : '))
if choice == 1:
 print(x + y)
elif choice == 2:
 print(y - x)
elif choice == 3:
 print(x - y)
elif choice == 4:
 print(x * y)
else:
 print('Wrong choice')

In [ ]:
while True:
 print('1. Add two numbers')
 print('2. Subtract first number from second
number')
 print('3. Subtract second number from first
number')
 print('4. Multiply two numbers')
 print('5. Exit')
 choice = int(input('Enter your choice : '))
 if choice == 5:
 break
 if choice < 1 or choice > 4:
print('Wrong choice')
 continue
 x = int(input('Enter first number : '))
 y = int(input('Enter second number : '))
 if choice == 1:
 print(x + y)
 elif choice == 2:
 print(y - x)
 elif choice == 3:
 print(x - y)
 elif choice == 4:
 print(x * y)

In [ ]:
while True:
 if test:
 break

In [ ]:
student_id = int(input('Enter student id : '))
while student_id < 1000 or student_id > 9999:
 student_id = int(input('Enter student id : '))

In [ ]:
while True:
 student_id = int(input('Enter student id :'))
 if student_id >= 1000 and student_id <= 9999:
 break

In [ ]:
while True:
 student_id = int(input('Enter student id :'))
 if student_id >= 1000 and student_id <= 9999:
 break
 else:
 print('Invalid id : id should be a numberbetween 1000 and 9999')

In [ ]:
while True:
 student_id = int(input('Enter student id :'))
 if 1000 < student_id < 9999:
 break
 print('Invalid id : id should be a number between 1000 and 9999')

In [ ]:
fruit_prices = {'apple': 210, 'banana': 100, 'grapes': 90}
done = False
while not done:
 fruit = input('Enter fruit name : ')
 price = int(input('Enter price : '))
 fruit_prices[fruit] = price
 if input('Want to enter more(y/n) : ') == 'n': done = True
print(fruit_prices)

In [ ]:
fruit_prices = {'apple': 210, 'banana': 100, 'grapes': 90}
while True:
 fruit = input('Enter fruit name : ')
 price = int(input('Enter price : '))
 fruit_prices[fruit] = price
 if input('Want to enter more(y/n) : ') == 'n':
 break
print(fruit_prices)

Avoiding complex logical conditions using break

In [ ]:
while i < 10 and j > 5 and x + y < 100 and z ==
True:

while i < 10 and j > 5:
 if x + y >= 100 or z == False:
 break

Happy Programming